<link rel="stylesheet" href="style/main.css">
<%- include("./navbar.ejs") %>
</br>
</br>
</br>


<h1> Fill out the fields below to register account </h1>

</br>
</br>
</br>
<form action="/register" method="post">

<input type="text" name="name" id="" placeholder="Username">

<input type="email" name="email" id="" placeholder="Email@example.com">

<input type="password" name="password" id="" placeholder="Password">


 
<input type="radio" name="role" id="" value="writer">
<label for="writer">Writer</label>
<input type="radio" name="role" id="" value="viewer">
<label for="viewer">viewer</label>

<button type="submit">Create account </button>


</form>


<span> Already have an account? </span><a href="/login">Log in </a>