<link rel="stylesheet" href="style/main.css">



<form action="/reset" method="post">
    

    <input type="email" name="email" id="" placeholder="Your email adress">
    
    <button type="submit">Send link</button>
    
    </form>