<link rel="stylesheet" href="style/main.css">


<h3>write entry place</h3>

<form action="/write" method="post">

<input type="text" name="header" id="" placeholder="Entry header">
</br>

<input id="entryBody" type="text" name="body" id="" placeholder="Dear diary ....">

</br>

<span> Make post public </span><input type="radio" name="radio" id="">
<button type="submit">Submit entry</button>



</form>