<head>
    <link rel="stylesheet" href="style/main.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://use.fontawesome.com/ee6bf2d262.js"></script>
  </head>
  <%- include("./logo.ejs") %>
<%- include("./navbar.ejs") %>



<div class="writeDiv">
<h2> Fill in the form to create a diary entry </h2>
<form action="/write" method="post">

<input id="headerInput" type="text" name="header" id="" placeholder="Entry header">


<textarea id="entryBody" type="text" name="body" id=""> Dear diary ... </textarea>


<p>Make this post</p>
<span class="radioTag">
<input type="radio" name="radio" id="" value="false">
<b> Private</b>(For your eyes only)
</span>

<span class="radioTag">
<input type="radio" name="radio" id="" value="true">
<b>Public</b>(Anonymously share with other Daytellers) 
</span>
<button type="submit">Submit entry</button>



</form>
</div>
